<section class="educacion section-style">
    <span class="material-icons material-icons-outlined edit-btn" id="btn-educacion-main">
        edit
    </span>
    <span class="material-icons material-icons-outlined edit-btn edit-btn-add" id="btn-educacion-add">
        add_circle_outline
    </span>
    
    <h2 class="title-section">educacion</h2>
    <div class="modal-ventana" id="modal-edit-educacion">
        <form novalidate class="form-login form-edit">
            <i class="fa-solid fa-xmark modal-close-btn" id="btn-edit-educacion-close"></i>
            <h2 class="form-login-title">Modo Edición!</h2>
            <div class="modal-box user-box modal-box-edit">
                <label for="new-input-educacion-fecha" id="new-label-educacion-fecha" class="label-modal">Fecha:</label>
                <input type="text" id="new-input-educacion-fecha" class="input-modal">
            </div>
            <div class="modal-box user-box modal-box-edit">
                <label for="new-input-educacion-instituto" id="new-label-educacion-instituto" class="label-modal">Instituto:</label>
                <input type="text" id="new-input-educacion-instituto" class="input-modal">
            </div>
            <div class="modal-box user-box modal-box-edit">
                <label for="new-input-educacion-titulo" id="new-label-educacion-titulo" class="label-modal">Titulo:</label>
                <input type="text" id="new-input-educacion-titulo" class="input-modal">
            </div>
            <div class="modal-box user-box modal-box-edit">
                <label for="new-input-educacion-descripcion" id="new-label-educacion-descripcion" class="label-modal">Descripcion:</label>
                <input type="text" id="new-input-educacion-descripcion" class="input-modal">
            </div>
            <input type="button" value="Editar" class="form-login-btn" id="edit-educacion-btn">
        </form>
    </div>

    <section class="container-seccion" id="container-educacion">
        <div class="box-seccion">
            <div class="box-edit">
                <span class="material-icons material-icons-outlined btn-edit btn-edit-educacion">
                    edit
                </span>
                <span class="material-icons material-icons-outlined btn-delete btn-delete-educacion">
                    cancel
                </span>
            </div>
            <div class="box-lado-izq">
                <h3>2022-<span>PRESENTE</span></h3>
                <h4>Codo a Codo</h4>
            </div>
            <div class="box-lado-dcho">
                <h3>Full Stack Developer with Node</h3>
                <h4>Lenguajes vistos: HTML, CSS, JAVASCRIPT, MySQL, NODEJS</h4>
            </div>
        </div>
        <div class="box-seccion">
            <div class="box-edit">
                <span class="material-icons material-icons-outlined btn-edit btn-edit-educacion">
                    edit
                </span>
                <span class="material-icons material-icons-outlined btn-delete btn-delete-educacion">
                    cancel
                </span>
            </div>
            <div class="box-lado-izq">
                <h3>2022-<span>PRESENTE</span></h3>
                <h4>ISPC</h4>
            </div>
            <div class="box-lado-dcho">
                <h3>Full Stack Developer</h3>
                <h4>Lenguajes vistos: HTML, CSS, BOOTSTRAP, JAVASCRIPT, TYPESCRIPT, ANGULAR, MySQL, JAVA</h4>
            </div>
        </div>
        <div class="box-seccion">
            <div class="box-edit">
                <span class="material-icons material-icons-outlined btn-edit btn-edit-educacion">
                    edit
                </span>
                <span class="material-icons material-icons-outlined btn-delete btn-delete-educacion">
                    cancel
                </span>
            </div>
            <div class="box-lado-izq">
                <h3>2022-<span>PRESENTE</span></h3>
                <h4>Argentina Programa</h4>
            </div>
            <div class="box-lado-dcho">
                <h3>Argentina Programa: #YoProgramo</h3>
                <h4>Lenguajes vistos: HTML, CSS, JAVASCRIPT, ANGULAR, MySQL, JAVA</h4>
            </div>
        </div>
        <div class="box-seccion">
            <div class="box-edit">
                <span class="material-icons material-icons-outlined btn-edit btn-edit-educacion">
                    edit
                </span>
                <span class="material-icons material-icons-outlined btn-delete btn-delete-educacion">
                    cancel
                </span>
            </div>
            <div class="box-lado-izq">
                <h3>2021-<span>PRESENTE</span></h3>
                <h4 class="mini-h4">freecodecamp.org</h4>
            </div>
            <div class="box-lado-dcho">
                <h3>Curso JavaScript Algoritmos y Estructura 
                    de Datos</h3>
                <h4>Lenguajes vistos: JAVASCRIPT</h4>
            </div>
        </div>
        <div class="box-seccion">
            <div class="box-edit">
                <span class="material-icons material-icons-outlined btn-edit btn-edit-educacion">
                    edit
                </span>
                <span class="material-icons material-icons-outlined btn-delete btn-delete-educacion">
                    cancel
                </span>
            </div>
            <div class="box-lado-izq">
                <h3>2021</h3>
                <h4>Argentina Programa</h4>
            </div>
            <div class="box-lado-dcho">
                <h3>Argentina Programa: #SéProgramar</h3>
                <h4>Lenguajes vistos: GOBSTONE, JAVASCRIPT, RUBY</h4>
            </div>
        </div>
        <div class="box-seccion">
            <div class="box-edit">
                <span class="material-icons material-icons-outlined btn-edit btn-edit-educacion">
                    edit
                </span>
                <span class="material-icons material-icons-outlined btn-delete btn-delete-educacion">
                    cancel
                </span>
            </div>
            <div class="box-lado-izq">
                <h3>2021</h3>
                <h4>Polo TIC Misiones</h4>
            </div>
            <div class="box-lado-dcho">
                <h3>Curso Introducción a la programación</h3>
                <h4>Lenguajes vistos: PSEUDO-CODIGO</h4>
            </div>
        </div>
        <div class="box-seccion">
            <div class="box-edit">
                <span class="material-icons material-icons-outlined btn-edit btn-edit-educacion">
                    edit
                </span>
                <span class="material-icons material-icons-outlined btn-delete btn-delete-educacion">
                    cancel
                </span>
            </div>
            <div class="box-lado-izq">
                <h3>2021</h3>
                <h4>Linkedin Learning</h4>
            </div>
            <div class="box-lado-dcho">
                <h3>Curso Github para programadores</h3>
                <h4>GIT - Github</h4>
            </div>
        </div>
        <div class="box-seccion">
            <div class="box-edit">
                <span class="material-icons material-icons-outlined btn-edit btn-edit-educacion">
                    edit
                </span>
                <span class="material-icons material-icons-outlined btn-delete btn-delete-educacion">
                    cancel
                </span>
            </div>
            <div class="box-lado-izq">
                <h3>2021</h3>
                <h4>Linkedin Learning</h4>
            </div>
            <div class="box-lado-dcho">
                <h3>Curso MySQL Esencial</h3>
                <h4>Lenguajes vistos: MySQL</h4>
            </div>
        </div>
        <div class="box-seccion">
            <div class="box-edit">
                <span class="material-icons material-icons-outlined btn-edit btn-edit-educacion">
                    edit
                </span>
                <span class="material-icons material-icons-outlined btn-delete btn-delete-educacion">
                    cancel
                </span>
            </div>
            <div class="box-lado-izq">
                <h3>2021</h3>
                <h4>Linkedin Learning</h4>
            </div>
            <div class="box-lado-dcho">
                <h3>Curso JavaScript*</h3>
                <h4>Lenguajes vistos: JAVASCRIPT</h4>
                <h4>*Cursos: Javascript esencial, Javascript Avanzado: buenas practicas y Javascript Avanzado: expresiones regulares</h4>
            </div>
        </div>
        <div class="box-seccion">
            <div class="box-edit">
                <span class="material-icons material-icons-outlined btn-edit btn-edit-educacion">
                    edit
                </span>
                <span class="material-icons material-icons-outlined btn-delete btn-delete-educacion">
                    cancel
                </span>
            </div>
            <div class="box-lado-izq">
                <h3>2021</h3>
                <h4>Fundación Telefónica Movistar - Conecta Empleo</h4>
            </div>
            <div class="box-lado-dcho">
                <h3>Curso Programación con Javascript</h3>
                <h4>Lenguajes vistos: JAVASCRIPT</h4>
            </div>
        </div>
        <div class="box-seccion">
            <div class="box-edit">
                <span class="material-icons material-icons-outlined btn-edit btn-edit-educacion">
                    edit
                </span>
                <span class="material-icons material-icons-outlined btn-delete btn-delete-educacion">
                    cancel
                </span>
            </div>
            <div class="box-lado-izq">
                <h3>2021</h3>
                <h4>Fundación Telefónica Movistar - Conecta Empleo</h4>
            </div>
            <div class="box-lado-dcho">
                <h3>Curso Diseño Web con HTML5 y CSS</h3>
                <h4>Lenguajes vistos: HTML, CSS</h4>
            </div>
        </div>
        <div class="box-seccion">
            <div class="box-edit">
                <span class="material-icons material-icons-outlined btn-edit btn-edit-educacion">
                    edit
                </span>
                <span class="material-icons material-icons-outlined btn-delete btn-delete-educacion">
                    cancel
                </span>
            </div>
            <div class="box-lado-izq">
                <h3>2021</h3>
                <h4>Fundación Telefónica Movistar - Conecta Empleo</h4>
            </div>
            <div class="box-lado-dcho">
                <h3>Curso Introducción a la Programación</h3>
                <h4></h4>
            </div>
        </div>
        <div class="box-seccion">
            <div class="box-edit">
                <span class="material-icons material-icons-outlined btn-edit btn-edit-educacion">
                    edit
                </span>
                <span class="material-icons material-icons-outlined btn-delete btn-delete-educacion">
                    cancel
                </span>
            </div>
            <div class="box-lado-izq">
                <h3>2021</h3>
                <h4 class="mini-h4">freecodecamp.org</h4>
            </div>
            <div class="box-lado-dcho">
                <h3>Curso Responsive Web Design</h3>
                <h4>Lenguajes vistos: HTML, CSS</h4>
            </div>
        </div>
    </section>
</section>
