<div class="modal-ventana" id="modal-login">
    <form novalidate class="form-login">
        <!-- <i class="fa-solid fa-xmark modal-close-btn" id="modal-close-btn"></i> -->
        <fa-icon [icon]="faTimes" class="modal-close-btn" id="modal-close-btn" (click)="cerrarLogin()" ></fa-icon>
        <h2 class="form-login-title">Inicia sesión!</h2>
        <div class="modal-box user-box">
            <input type="text" name="usuario" id="user-input" class="input-login" (keyup)="subirLabelUser()">
            <label for="user-input" id="label-login-user" class="label-login">Usuario</label>
        </div>
        <div class="modal-box user-box">
            <input type="password" name="password" id="pass-input" class="input-login" (keyup)="subirLabelPass()">
            <label for="pass-input" id="label-login-pass" class="label-login">Contraseña</label>
        </div>
        <input type="button" value="Ingresar" class="form-login-btn" id="form-login-btn" (click)="login()">
    </form>
</div>
