:root {
    --darkBlue:#1C658C;
    --lightBlue:#398AB9;
    --lightBrown:#D8D2CB;
    --white:#EEEEEE;
}

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 60%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background-color: var(--white);
}

.modal-ventana {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    display: none;
    width: 100%;
    height: 100vh;
    background-color: #1119;
    backdrop-filter: blur(.15rem);
}

.modal-ventana-active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-login {
    position: relative;
    width: 75%;
    min-height: 300px;
    padding: 5rem 2rem;
    font-size: 2rem;
    background-image: linear-gradient(40deg, var(--lightBlue) 30%, var(--darkBlue) 70%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    box-shadow: .5rem .5rem 2rem #1117;

}

.modal-close-btn {
    position: absolute;
    top: 2rem;
    right: 3rem;
    font-size: 3rem;
    color: var(--white);
    cursor: pointer;
    transition: all .8s ease-in-out;
}

.modal-close-btn:hover {
    transform: rotate(180deg);
}

.form-login-title {
    font-size: 2.25rem;
    text-transform: uppercase;
    color: var(--white);
}

.form-login .modal-box {
    width: 100%;
    position: relative;
    color: var(--white);

}


.modal-box .input-login {
    width: 100%;
    /* border-radius: 1rem; */
    border: none;
    border-bottom: 3px solid var(--darkBlue);
    outline: none;
    padding: 2.5rem 2.4rem .75rem;
    background-color: transparent;
    color: var(--white);
}

.modal-box .label-login {
    position: absolute;
    top: 30%;
    left: 5%;
    font-size: 1.8rem;
    transition: all .2s linear;
    text-transform: uppercase;
}

.modal-box .input-login:focus ~ .label-login,
.modal-box .input-login ~ .label-top {
    top: 7%;
    font-size: 1.25rem;
}

.form-login-btn {
    outline: none;
    border: 3px solid var(--darkBlue);
    background-color: var(--lightBlue);
    color: var(--white);
    padding: 1.5rem 3rem;
    border-radius: 2rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    /* font-weight: bold; */
}

.form-login-btn:hover {
    background-color: var(--darkBlue);
    /* color: var(--darkBlue); */
    border-color: var(--white);
    cursor: pointer;
}

.form-edit .modal-box-edit {
    width: 100%;
    display: grid;
    gap: 1rem;
    /* grid-template-columns: 2fr 5fr; */
    /* gap: 2rem; */
}

.modal-box-edit label {
    font-size: 1.8rem;
    text-transform: uppercase;
}

/* .modal-box-edit label::after {
    content: ":";
} */

.modal-box-edit input[type="text"],
.modal-box-edit input[type="number"] {
    border: none;
    border-bottom: 3px solid var(--darkBlue);
    outline: none;
    color: var(--white);
    background-color: transparent;
    font-size: 1.8rem;
}

.form-edit .modal-box-edit-textarea {
    display: flex;
    gap: .5rem;
    flex-direction: column;
}

.modal-box-edit textarea {
    resize: none;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 150px;
    border: 3px solid var(--darkBlue);
    outline: none;
    color: var(--darkBlue);
    background-color: var(--lightBrown);
    font-size: 1.5rem;
    padding: .75rem;
}

.pointer-event-none {
    pointer-events: none;
}

.edit-btn {
    display: none;
    position: absolute;
    transform: translateY(-50%);
    right: 5%;
    top: 37px;
    z-index: 5000;
    font-size: 2.5rem;
    color: #048808;
    background-color: transparent;
    border: 3px solid #048808;
    padding: .4rem;
    border-radius: 50%;
    cursor: pointer;
}

.d-block {
    display: block;
}

.menu-navbar a.d-none,
.d-none {
    display: none;
}

.edit-btn:hover {
    background-color: #8df791;
}

.edit-btn-add {
    display: none;
    right: 15%;
    font-size: 4rem;
    border: none;
    color: #20a925;
}

.edit-btn-add-block {
    display: block;
}

.edit-btn-add:hover {
    background-color: initial;
}

.section-style {
    margin: 2rem 0;
    padding: 2rem;
    position: relative;
}

.title-section {
    width: max-content;
    padding: 1rem 2rem;
    background-color: var(--darkBlue);
    color: var(--white);
    text-transform: uppercase;
    margin-bottom: 2rem;
    /* position: relative; */
}

.container-seccion {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, max-content);
    grid-auto-rows: max-content; 
 }
 
 .box-seccion {
     position: relative;
     min-height: 100px;
     color: var(--darkBlue);
     padding: 1rem 2rem;
     display: grid;
     grid-template-columns: 2fr 4fr;
     grid-template-rows: repeat(1, max-content);
     grid-auto-rows: max-content; 
     column-gap: 2rem;
     margin-left: 1rem;
 }
 
 /* .box-edit {
     pointer-events: initial;
 } */
 
 .box-seccion .box-edit,
 .card-proyecto .box-edit {
     position: absolute;
     right: 10px;
     top: 0;
     width: 40%;
     /* display: flex; */
     display: none;
     justify-content: space-between;
     align-items: center;
     background-color: #eee9;
     padding: .7rem 2rem;
     border-radius: .5rem;
 }
 
 .box-seccion > div.box-edit-flex,
 .card-proyecto > div.box-edit-flex  {
     display: flex;
 }
 
 .box-edit > .btn-edit {
     font-size: 3.5rem;
     /* color: #048808; */
     color: #20a925;
     cursor: pointer;
 }
 
 .box-edit > .btn-delete {
     font-size: 3.5rem;
     color: rgb(196, 19, 19);
     cursor: pointer;
 }
 
 .educacion .box-seccion, .experiencia .box-seccion {
     /* position: relative; */
     border-left: 3px solid var(--lightBlue);
 }
 
 .hys .box-seccion {
     grid-template-columns: 1fr;
     min-height: 25px;
     /* grid-template-columns: 2fr 4fr; */
     
 }
 
 .educacion .box-seccion::after, .experiencia .box-seccion::after {
     content: ' ';
     width: 22px;
     height: 22px;
     border-radius: 50%;
     background-color: var(--lightBlue);
     position: absolute;
     top: 10px;
     left: -12.5px;
 }
 
 .box-seccion h3 {
     margin-bottom: .5rem;
     font-size: 1.7rem;
 }
 
 .box-seccion .box-lado-izq h3 {
     font-size: 1.4rem;
 }
 
 .box-seccion .box-lado-izq span {
     font-size: 1.15rem;
 }
 
 .box-seccion h4 {
     margin-bottom: .5rem;
     font-size: 1.25rem;
     font-weight: 400;
 }
 
 .mini-h4 {
     font-size: 1.1rem;
 }

@media (min-width:567px){
    
    .section-style {
        padding: 2rem 4rem;
    }
    
}

@media (min-width:768px){

    .section-style {
        padding: 2rem 8rem;
    }

    .container-seccion {
        grid-template-columns: repeat(2, 1fr);
    }

    .box-seccion h3 {
        font-size: 1.8rem;
    }

    .box-seccion .box-lado-izq h3 {
        font-size: 1.5rem;
    }

    .box-seccion .box-lado-izq span {
        font-size: 1.25rem;
    }

    .box-seccion .box-lado-dcho {
        width: 80%;
    }

    .box-seccion h4 {
        font-size: 1.35rem;
    }

    .mini-h4 {
        font-size: 1.3rem;
    }

    .modal-ventana {
        backdrop-filter: blur(.3rem);
    }

    .form-login {
        --darkBlue:#12435e;
        --lightBlue:#2a6588;
        position: relative;
        width: 40%;
        min-height: 400px;
        padding: 5rem 5rem;
        /* border: 1px solid #111; */
        background-image: linear-gradient(40deg, var(--lightBlue) 30%, var(--darkBlue) 70%);
    }
    
    .edit-btn {
        right: 3.5%;
    }

    .edit-btn-add {
        right: 7%;
        font-size: 4.75rem;
        border: none;
    }

    .edit-btn-add:hover {
        background-color: initial;
    }

    .box-seccion .box-edit {
        right: 10px;
        width: 20%;
    }
    
    .box-edit > .btn-edit,
    .box-edit > .btn-delete {
        font-size: 3rem;
    }
}